.userField{
    display: flex;
    width:80%;
    left:10%;
    height: 3vmax;
}
.title{
    display:inline;
    position: absolute;
    left:0;
    top:40%;
}
.content{
    display:inline;
    position: absolute;
    left:40%;
}
table {
    width: 100%;
  }
  button{
      position:absolute;
      right:0;
      top:35%;
      
  }