.sidebar {
  width: 180px;
  /*border: #303F9F dashed medium;*/
  position: fixed;
  z-index: 1;
  left: 0;
  margin-top: 40px;
  margin-left: 20px;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 10px;
  padding-right: 10px;
  background: white;
}

.sidebar-content mat-form-field {
  width: 100%;
}

.middle-content {
  margin-right: 25px;
  padding-top: 20px;
  margin-left: 200px;
  width: auto;
  overflow-x: hidden;
}

.mat-paginator {
  background-color: #F6F6F6;
}

.search mat-form-field {
  width: 100%;
  margin-left: 10px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 5px;
  background: white;

}

.search {
  height: fit-content;
}

.material-icons {
  position: relative !important;
}

.radios {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.my-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.book {*/
/*  width: 15rem;*/
/*  margin: 5px 5px 20px;*/
/*}*/

/*.book #img {*/
/*  max-height: 10rem;*/
/*}*/

.book-image {
  max-height: 300px;
}

.book-list {
  margin-top: 16px;
  margin-left: 8px;
}

.my-buttons {
  display: flex;
  justify-content: space-between;
}
