.sidebar {
  width: 180px;
  /*border: #303F9F dashed medium;*/
  position: fixed;
  z-index: 1;
  left: 0;
  margin-top: 40px;
  margin-left: 20px;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 10px;
  padding-right: 10px;
}

.sidebar-content mat-form-field {
  width: 100%;
}

.middle-content {
  margin-right: 25px;
  padding-top: 20px;
  margin-left: 200px;
  width: auto;
}

.search mat-form-field {
  width: 95%;
  margin-left: 10px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 5px;
}

.search {
  height: fit-content;
}

.material-icons {
  position: relative !important;
}

.radios {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.my-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}
