<div class="parent">
<div class="book-info">
  <div class="middle-col column">
    <h1>{{myBook.name}}</h1>
    <h3>{{myBook.author}}</h3>
    <mat-chip-list >
      <mat-chip color="accent" selected *ngFor="let tag of myBook.tags">{{tag}}</mat-chip>
    </mat-chip-list>
<!--    <p style="margin-top: 1rem">{{myBook.description}}</p>-->
  </div>
  <div class="right-col column">
    <mat-card>
      <mat-card-content>
        <p>This book is available in {{myBook.availableIn.length}} libraries</p>
      </mat-card-content>
      <mat-card-actions>
        <div *ngIf="myBook.availableIn.length > 0">
        <h4>Select a library:</h4>
        <mat-form-field appearance="fill">
          <mat-label>Library</mat-label>
          <mat-select required [(value)]="selectedId">
            <mat-option *ngFor="let lib of myBook.availableIn" [value]="lib.libId">
              {{lib.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <button *ngIf="!addWaitlist" mat-flat-button color="primary" (click)="onAddCart()">Add To Cart</button>
        <button *ngIf="addWaitlist" mat-flat-button color="primary" (click)="onAddWaitlist()">Add To Waitlist</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>

